In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df1 = pd.read_pickle('clean_data.pkl')
df2 = pd.read_pickle('clean_data_2.pkl')

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803 entries, 0 to 802
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Tipo                      803 non-null    object
 1   Propiedad                 803 non-null    object
 2   Acción                    789 non-null    object
 3   Habitaciones              745 non-null    float64
 4   Baños                     758 non-null    float64
 5   Parqueaderos              541 non-null    float64
 6   Área construída           771 non-null    float64
 7   Área privada              776 non-null    float64
 8   Estrato                   778 non-null    object
 9   Estado                    220 non-null    object
 10  Piso N°                   486 non-null    float64
 11  Antigüedad                593 non-null    object
 12  Administración            789 non-null    float64
 13  Precio m²                 789 non-null    float64
 14  Dirección                 765 non-null    object
 15  Barrio                    798 non-null    object
 16  Ciudad                    803 non-null    object
 17  Departamento              759 non-null    object
 18  Características           803 non-null    object
 19  Precio (COP)              789 non-null    object
 20  Descripción general       803 non-null    object
 21  Código Fincaraíz          275 non-null    float64
 22  No. Fotos                 803 non-null    object
 23  Fecha Sacada              803 non-null    object
 24  Enlace                    803 non-null    object
 25  Acceso Pavimentado        803 non-null    int32
 26  Ascensor                  803 non-null    int32
 27  Balcón                    803 non-null    int32
 28  Barra estilo americano    803 non-null    int32
 29  Baño Auxiliar             803 non-null    int32
 30  Baño Independiente        803 non-null    int32
 31  Calentador                803 non-null    int32
 32  Canchas Deportivas        803 non-null    int32
 33  Circuito cerrado de TV    803 non-null    int32
 34  Citófono                  803 non-null    int32
 35  Closet                    803 non-null    int32
 36  Cocina Integral           803 non-null    int32
 37  Colegios / Universidades  803 non-null    int32
 38  En conjunto cerrado       803 non-null    int32
 39  Garaje / Parqueadero(s)   803 non-null    int32
 40  Garaje(s)                 803 non-null    int32
 41  Instalación de gas        803 non-null    int32
 42  Jardín                    803 non-null    int32
 43  Parqueadero Visitantes    803 non-null    int32
 44  Piscina                   803 non-null    int32
 45  Portería / Recepción      803 non-null    int32
 46  Trans. Público cercano    803 non-null    int32
 47  Zona de lavandería        803 non-null    int32
dtypes: float64(9), int32(23), object(16)
memory usage: 229.1+ KB

In [9]:
df2.drop(columns=['[', ']'], inplace=True)

In [15]:
df1 = df1.loc[:, list(set(df1.columns).intersection(set(df2.columns)))]
df2 = df1.loc[:, list(set(df1.columns).intersection(set(df2.columns)))]

In [17]:
df = pd.concat([df1, df2], axis=0)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1606 entries, 0 to 802
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Instalación de gas       1606 non-null   int32
 1   Acción                   1606 non-null   object
 2   Baño Auxiliar            1606 non-null   int32
 3   Baños                    1516 non-null   float64
 4   Piso N°                  1606 non-null   float64
 5   Fecha Sacada             1606 non-null   object
 6   Precio m²                1578 non-null   float64
 7   Parqueaderos             1082 non-null   float64
 8   Parqueadero Visitantes   1606 non-null   int32
 9   Departamento             1518 non-null   object
 10  Dirección                1530 non-null   object
 11  Antigüedad               1186 non-null   object
 12  Propiedad                1606 non-null   object
 13  Administración           1578 non-null   float64
 14  No. Fotos                1606 non-null   object
 15  Ciudad                   1606 non-null   object
 16  Características          1606 non-null   object
 17  Acceso Pavimentado       1606 non-null   int32
 18  Ascensor                 1606 non-null   int32
 19  Garaje(s)                1606 non-null   int32
 20  Estado                   440 non-null    object
 21  Estrato                  1556 non-null   object
 22  Baño Independiente       1606 non-null   int32
 23  Garaje / Parqueadero(s)  1606 non-null   int32
 24  Barrio                   1596 non-null   object
 25  Calentador               1606 non-null   int32
 26  Tipo                     1606 non-null   object
 27  Balcón                   1606 non-null   int32
 28  En conjunto cerrado      1606 non-null   int32
 29  Precio (COP)             1578 non-null   object
 30  Citófono                 1606 non-null   int32
 31  Enlace                   1606 non-null   object
 32  Cocina Integral          1606 non-null   int32
 33  Área construída          1542 non-null   float64
 34  Área privada             1552 non-null   float64
 35  Descripción general      1606 non-null   object
 36  Habitaciones             1490 non-null   float64
 37  Closet                   1606 non-null   int32
dtypes: float64(8), int32(14), object(16)
memory usage: 401.5+ KB

In [39]:
df['Acción'] = df['Acción'].fillna('venta')
df['Área construída'].value_counts()

60.0     42
72.0     34
90.0     32
120.0    30
55.0     28
         ..
259.0     2
192.0     2
124.0     2
46.0      2
51.0      2
Name: Área construída, Length: 230, dtype: int64

In [43]:
cols_to_drop = ['Estado']
final_df = df.drop(columns=cols_to_drop)

In [44]:
final_df.dropna().shape

(722, 37)

In [46]:
final_df.to_pickle('colombia_real_estate.pkl')